@page
@model RazorPagesToy.Pages.Toys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].quantityRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toy[0].ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Toy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantityRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
