@page
@model Superwish_FSD04_AppDevII_ASP.NET_Project.Pages.CartModel
@{
ViewData["Title"] = "Cart";
}
<script>
    function vchange(id) {
        var stock = document.getElementById('stock ' + id);
        var qty = document.getElementById('quantity ' + id);
        var val = qty.max - qty.value
        stock.innerText = val;
    }
</script>

<nav id="itemsWrapper" class="shadow sidebar-offcanvas" style="width:150px;display: grid;float: left;">
@if(Model.Items!=null)foreach (var item in Model.Items)
{
    <div class="col-sm-3">
       <form action="cart" method="get">
            <div class="itemInfo" style="width:150px">
                <input type="hidden" name="Id" value="@item.Id">
                <img  class="item-image img-fluid img-thumbnail" src="~/Images/Products/Thumbnails/@item.itemId?.ImageUrl" alt="Image of @item.itemId?.Name" />
                <div  style="color:#dddddd;font-size:8px;">Item Name <span style="color:#000;font-size:16px;">@item.itemId?.Name</span></div>
                <input  style="font-size:8px;" type="submit" value="delete" name="action">
            </div>
        </form>
    </div>
        <hr />

}
</nav>
<div class="shadow" style="width: 700px;display: inline;float: left;margin-left: 10px;">
    <div class="content-wrapper" >
        @if (Model.Items != null) 
        {
            @foreach (var item in Model.Items)
            {
                <form action="cart" method="get">
                    <div class="col-sm-3" style="margin: auto;">      
                        <div class="itemInfo" style="width:150px;">
                            <input type="hidden" name="Id" value="@item.Id">
                            <img  class="item-image img-fluid img-thumbnail" src="~/Images/Products/Thumbnails/@item.itemId?.ImageUrl" alt="Image of @item.itemId?.Name" />
                            <div  style="color:#dddddd;font-size:8px;">Item Name <span style="color:#000;font-size:16px;">@item.itemId?.Name</span></div>
                            <div  style="color:#dddddd;font-size:8px;">Description <span style="color:#000;font-size:16px;">@item.itemId?.Description</span></div>
                            <div  style="color:#dddddd;font-size:8px;">Price <span style="color:#000;font-size:16px;">@item.itemId?.Price</span></div>
                            <div  style="color:#dddddd;font-size:8px;">Stock <span id="stock @item.Id" style="color:#000;font-size:16px;">@item.itemId?.QuantityRemaining</span></div>
                            <div style="color:#dddddd;font-size:8px;display:flex">Qty <input name="quantity" id="quantity @item.Id" value="@item.quantity" type="number" min="0" max="@item.itemId.QuantityRemaining" onchange="vchange('@item.Id')" /></div>
                            <input  style="font-size:8px;" type="submit" value="change" name="action">
                        </div>

                    </div>
                </form>
                <hr />
            }
    
        @:<a asp-page="/Cart" >Total Price @Model.Items.Sum(x=>x.quantity*x.itemId.Price)</a>
    }
    </div>
    <a asp-page="Index" >Home</a>
    <a asp-page="Order">Order</a>
    <a asp-page="CheckOUt">CheckOUt</a>
    <br />
    <br />
    <br />
    <br />
</div>
