@page
@model Superwish_FSD04_AppDevII_ASP.NET_Project.Pages.CheckOutModel
@{
    ViewData["Title"] = "Checkout";
}


<nav id="itemsWrapper" class="shadow sidebar-offcanvas" style="width:150px;display: grid;float: left;">
    @if (Model.Items != null && Model.Items.Count() > 0)
    {
        <div>@ViewData["tip"]</div>
        @foreach (var item in Model.Items)
        {
            <div class="col-sm-3">
                <div class="itemInfo" style="width:150px">
                    <div  style="color:#888888;font-size:8px;">Name  <span style="color:#000;font-size:16px;">@item.Item?.Name</span></div>
                    <div  style="color:#888888;font-size:8px;">qty   <span style="color:#000;font-size:16px;">@item.Quantity</span></div>
                    <div  style="color:#888888;font-size:8px;">price <span style="color:#000;font-size:16px;">@item.Item?.Price</span></div>
                    <div  style="color:#888888;font-size:8px;">total <span style="color:#000;font-size:16px;">@(item.Quantity*item.Item.Price)</span></div>

                </div>
            </div>
            <br><hr><br>

        }
        <div>pay : @Model.Items.Sum(x=>(x.Quantity*x.Item.Price))</div>
        <div><a href="/CheckOut?action=checkout">pay</a></div>

    }
    @if (Model.Items == null || Model.Items.Count() == 0)
    { 
        <div>@ViewData["tip"]</div>
    }
</nav> 
