@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to SuperWish!</h1>



<div id="itemsWrapper" class="row">
@foreach (var item in Model.Items)
{
    <div class="col-sm-3">
        <a asp-page="/Cart" asp-route-id="@item.Id" title="Order @item.Name">
            <div class="itemInfo">
                <h3>@item.Name</h3>
                <img class="item-image img-fluid img-thumbnail" src="~/Images/Products/Thumbnails/@item.ImageUrl" alt="Image of @item.Name" />
                <p class="description">@item.Description</p>
            </div>
        </a>
        <div class="action">
            <a class="btn btn-sm btn-danger order-button float-right" asp-page="/order" asp-route-id="@item.Id" title="Order @item.Name">Add to Cart</a>
            <p class="price float-left">$@string.Format("{0:f}", item.Price)</p>
            <p>  Qty : @item.QuantityRemaining  </p> 
            @* <table>  
                <tr>  
                    <td>  
                        <img src="Images/UP.png" height="20" width="20" onclick="@Model.Items.IncreaseQty" />  
                    </td>  
                </tr>  
                <tr>  
                    <td>  
                        <img src="Images/Down.png" height="20" width="20" onclick="@Items.DecreaseQty" />  
                    </td>  
  
                </tr>  
            </table>   *@
             
        </div>
    </div>

}
</div>